Database & Storage/Movie_Recom_MongoDB.json
{
  "name": "Movie_Recom_MongoDB",
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get from AI the MongoDB Aggregation pipeline to get context based on the provided pipeline, the document structure of the documents is : {\n \"plot\": \"A group of bandits stage a brazen train hold-up, only to find a determined posse hot on their heels.\",\n \"genres\": [\n \"Short\",\n \"Western\"\n ],\n \"runtime\": 11,\n \"cast\": [\n \"A.C. Abadie\",\n \"Gilbert M. 'Broncho Billy' Anderson\",\n ...\n ],\n \"poster\": \"...jpg\",\n \"title\": \"The Great Train Robbery\",\n \"fullplot\": \"Among the earliest existing films in American cinema - notable as the ...\",\n \"languages\": [\n \"English\"\n ],\n \"released\": \"date\"\n },\n \"directors\": [\n \"Edwin S. Porter\"\n ],\n \"rated\": \"TV-G\",\n \"awards\": {\n \"wins\": 1,\n \"nominations\": 0,\n \"text\": \"1 win.\"\n },\n \"lastupdated\": \"2015-08-13 00:27:59.177000000\",\n \"year\": 1903,\n \"imdb\": {\n \"rating\": 7.4,",
        "operation": "aggregate",
        "collection": "movie_collection",
        "query": "="
      },
      "id": "7e5d4696-047c-48cc-89b5-34d90632d0a2",
      "name": "MongoDBAggregate",
      "type": "n8n-nodes-base.mongoDbTool",
      "position": [
        784,
        256
      ],
      "typeVersion": 1.1,
      "credentials": {
        "mongoDb": {
          "id": "GVcEE8r9cYFzINVU",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "ffbc2dc5-18f8-4775-a5eb-7d50a93ee855",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        624,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "84bb3e82-8bbe-4843-bf81-03ea635a3c0f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        288,
        112
      ],
      "webhookId": "0730df2d-2f90-45e0-83dc-609668260fda",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assistant for best movies context, you have tools to search using \"MongoDBAggregate\" and you need to provide a MongoDB aggregation pipeline code array as a \"query\" input param. User input and request: {{ $json.chatInput }}. Only when a user confirms a favorite movie use the insert favorite using  workflow tool as { \"title\" : \"<TITLE>\" }.",
        "options": {}
      },
      "id": "a369db5f-d70b-4ffc-99e9-91559263290c",
      "name": "AI Agent - Movie Recommendation",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        512,
        0
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## AI Agent powered by LLM and MongoDB \n\nThis flow is designed to work as an AI autonomous agent that can get chat messages, query data from MongoDB using the aggregation framework.\n\nFollowing by augmenting the results from the sample movies collection and allowing storing my favorite movies back to the database.",
        "height": 499.89779507612025,
        "width": 216.0875923062025
      },
      "id": "6d4fdb74-ae1b-45d9-a2a7-407711fb333b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Process\n\nThe message is being processed by the \"Chat Model\" and the correct tool is used according to the message. ",
        "color": 3
      },
      "id": "4bd0f017-2060-4577-87d2-d7a6f7aad572",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        464,
        224
      ],
      "id": "8b029fbf-1534-4d16-9fed-9b68be62afb8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "pv3Ow9mpciaJ95x3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "movie_collection",
        "fields": "={{ $('When chat message received').item.json.chatInput.split()[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        960,
        272
      ],
      "id": "ee62ba1a-13c8-4f76-ba5a-fb55fa828474",
      "name": "Insert documents in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "GVcEE8r9cYFzINVU",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "MongoDBAggregate": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Movie Recommendation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Movie Recommendation",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent - Movie Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Movie Recommendation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents in MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Movie Recommendation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08ed8617-2ff5-4aec-8c6a-a22f56419e7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ce5f35e8bf4d3524ce45d1451b92ecc078f466420854017d41bcfc371e6a25b"
  },
  "id": "8aGKD7FIrAivHMyv",
  "tags": []
}